#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
::selection{
     background-color: #4e73df;
    color: #1cc88a;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

