.login-form{
    background:white;
    padding: 30px 40px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    width:100%;
    text-align:center;

}
.login-form h2{
    margin-bottom:25px;
    color:#0b3d91;

}
.login-form  input{
    display:block;
    width:100%;
    padding:10px 12px;
    margin-bottom:20px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
}
.login-form input:focus{
    outline:none;
    border-color:#0b3d91;
}
    .login-form button {
        width: 100%;
        padding: 12px;
        background-color: #0b3d91;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition:background-color 0.3s ease;
    }
    .login-form button:hover {
        background-color: #06326c;
    }